.details-container{
    width: 100%;
    height: 90vh;
}

.details{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, rgba(22,27,34,0.6), rgba(0,0,0,0)), linear-gradient(to top, rgba(10,9,12,1), rgba(22,27,34,0.6), rgba(0,0,0,0)) ;
}

.content-details{
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.basics{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-logo{
    max-width: 300px;
    height: fit-content;
}

.rating{
    display: flex;
    align-items: center;
}
.rating p{
    font-size: 30px;
}
.rating-detail{
    display: flex;
    flex-direction: column;
}


.basic-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 200px;
}

.basic-details .overview{
    width: 50%;
}

.genre-details, .release-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basic-details .hover {
    padding: 10px;

    transition: color 0.3s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    backface-visibility: hidden;
}

.basic-details .hover p{
    color: var(--color-text-main);
}

.basic-details .hover:hover {
    transform: scale(1.06);
    cursor: pointer;
}