.modal-container {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgba(0,0,0,0.95);
    border-radius: 10px;

    width: 700px;
    min-width: 300px;
    height: 500px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    padding: 5%;
}

.modal-main{
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

h2{
    font-size: 36px;
}
h4{
    font-size: 16px;
}

.rating-aspect{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    width: 60px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

.modal-footer{
    width: 100%;
    text-align: center;
}

.modal-footer button{
    width: 60%;

    font-size: 20px;
    font-weight: bold;
}