/* General */
button{
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: lightgray;
    color: white;
    cursor: pointer;

}


/* Classes */

/* NavBar Files */
.navbar{
    background-color: rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}

/* Top Picks Files */
.hero{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
    gap: 30px;
}

.small-details{
    text-align: center;
    display: flex;
    gap: 30px;
}

.small-details p{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.overview{
    text-align: left;
    width: 40%;
}

.action-buttons{
    display: flex;
    gap: 60px;

    text-align: center;
}


/* Explore Page Files */
.trending{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.trending h1{
    color: Green;
    font-size: 70px;
    font-weight: bold;
}

.trending-list{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    gap: 50px;
}

/* Content Details Page Files */
.details-container{
    display: flex;
    padding: 100px 50px;
}

.poster-details{
    width: 40%;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.poster-details img{
    width: fit-content;
    height: 80vh;
}

.content-details{
    width: 60%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}

.content-details .small-details{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.content-details p{
    border: none;
}

.basic-details{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.basic-buttons{
    width: 100%;

    display: flex;
    justify-content: flex-start;
    gap: 60px;
}

.overview-section{
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

/* Container for the recommendation items */
.recommendations {
    width: 100%;
    display: grid;
    /* Create 5 columns that adjust based on screen width */
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
    /* Enable horizontal scrolling on small screens */
    overflow-x: auto;
    scrollbar-width: initial; /* Firefox */
}

.recommendations img{
    width: fit-content;
    height: 150px;
    cursor: pointer;
    border-radius: 4px;
}