/* General */
button{
    border: none;
    padding: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: lightgray;
    color: white;
    cursor: pointer;

}


/* Classes */

/* NavBar Files */
.navbar{
    background-color: rgba(0,0,0,0.1);
    border-radius: 0 0 10px 10px;

    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}

/* Top Picks Files */
.hero{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
    gap: 30px;
}

.small-details{
    text-align: center;
    display: flex;
    gap: 30px;
}

.small-details p{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.overview{
    text-align: left;
    width: 40%;
}

.action-buttons{
    display: flex;
    gap: 60px;

    text-align: center;
}


/* Explore Page Files */
.trending{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.trending h1{
    color: Green;
    font-size: 70px;
    font-weight: bold;
}

.trending-list{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    gap: 50px;


}

