/* Top Picks Files */
.hero-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: 10px;
}


.hero{
    width: 98%;
    height: fit-content;

    border-radius: 30px;
}

.hero-detail{
    opacity: 0;
    border-radius: 30px;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
    gap: 30px;
    background: linear-gradient(to right, rgba(22, 27, 34, 1), rgba(22, 27, 34, 0.5), rgba(10, 9, 12, 0));

    transition: all 3s ease;
}

.hero-detail:hover{
    opacity: 1;
    transition: all 0.6s ease;
}

.small-details{
    text-align: center;
    display: flex;
    gap: 10px;
}

.small-details p{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    transition: 1.2s ease;
}

.small-details p:hover{
    color: var(--color-text-main);
    transform: scale(1.1);
    transition: 0.6s ease;
}

.overview{
    text-align: left;
    width: 40%;
    transition: 1.2s ease;
}

.overview:hover{
    color: var(--color-text-main);
    transform: scale(1.02);
    transition: 0.6s ease;
}


.action-buttons{
    display: flex;
    gap: 60px;

    text-align: center;
}